<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable" />
		</Console>

		<RollingFile name="RollingFile"
			fileName="c:/prashantsingh/spring-batch-logs/logs/spring-batch-logger-log4j2.log"
			filePattern="c:/prashantsingh/spring-batch-logs/logs/$${date:yyyy-MM}/spring-boot-logger-log4j2-%d{-dd-MMMM-yyyy}-%i.log.gz">
			<PatternLayout>
				<pattern>%d %p %C{1.} [%t] %m%n</pattern>
			</PatternLayout>
			<Policies>
				<!-- rollover on startup, daily and when the file reaches 10 MegaBytes -->
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10MB" />
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>

		<RollingFile name="ErrorRollingFile"
			fileName="c:/prashantsingh/spring-batch-logs/logs/spring-batch-logger-error.log"
			filePattern="c:/prashantsingh/spring-batch-logs/logs/$${date:yyyy-MM}/spring-boot-logger-error-%d{-dd-MMMM-yyyy}-%i.log.gz">
			<PatternLayout>
				<pattern>%d %p %C{1.} [%t] %m%n</pattern>
			</PatternLayout>
			<Policies>
				<!-- rollover on startup, daily and when the file reaches 10 MegaBytes -->
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10MB" />
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
	</Appenders>

	<Loggers>
		<!-- LOG everything at INFO level -->
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Root>
		<!-- LOG everything at INFO level -->
		<Logger name="error" level="error">
			<!-- <AppenderRef ref="Console" /> -->
			<AppenderRef ref="ErrorRollingFile" />
		</Logger>
		
	</Loggers>

</Configuration>